<h2>Create todo</h2>

<form action="/create" method="post">
    <div class="input-field">
        <label for="title">Todo title</label>
        <input id="title" type="text" name="title">
    </div>
    <button type="submit" class="btn">Create</button>
</form>
